__pycache__/
.ipynb_checkpoints/
.DS_Store
*.pyc
.venv/
*.egg-info/
.env

data/
results/
outputs/

mlruns/
mlflow.db
calibration.npz
tmp_model_artifact/
tmp_bundle/

checkpoints/
darts_logs/
lightning_logs/
granite-tsfm/
